@use "./mixins.scss" as M;
@use "./variables.scss" as V;

@mixin h-xl {
	font-family: V.$f-montserrat;
	font-size: 8vmin;
	font-weight: 700;
	line-height: 9vmin;
}

@mixin h-l {
	font-family: V.$f-montserrat;
	font-size: 5vmin;
	font-weight: 600;
	line-height: 6vmin;
}

@mixin h-m {
	font-family: V.$f-montserrat;
	font-size: 4vmin;
	font-weight: 600;
	line-height: 5vmin;
}

@mixin h-s {
	font-family: V.$f-montserrat;
	font-size: 3vmin;
	font-weight: 600;
	line-height: 4vmin;
}

@mixin h-xs {
	font-family: V.$f-montserrat;
	font-size: 2vmin;
	font-weight: 600;
	line-height: 3vmin;
}

@mixin body-l {
	font-family: V.$f-montserrat;
	font-size: 5vmin;
	font-weight: 400;
	line-height: 6vmin;
}

@mixin body-m {
	font-family: V.$f-montserrat;
	font-size: 3vmin;
	font-weight: 400;
	line-height: 4vmin;
}

@mixin body-s {
	font-family: V.$f-montserrat;
	font-size: 3vmin;
	font-weight: 200;
	line-height: 4vmin;

	@include M.on-desktop {
		font-size: 2vmin;
		line-height: 2.5vmin;
	}
}
