// colors c-
$c-white: #d9d9d9;
$c-black: #151515;
$c-gold: #e1c564;
$c-silver: #cecece;
$c-bronze: #835953;

// fonts f-
$f-montserrat: "Montserrat", sans-serif;

// breakpoints bp-
$bp-tablet: 580px;
$bp-desktop: 1024px;
$bp-desktop-l: 1440px;
